// Base

html,
body {
    background-color: black;
    color: #a6a8b6;
    color: #e9eaf1;
}

.h-scroll__container {
    position: relative;
    width: 100vw;
    z-index: 2;
}

.h-scroll {
    position: fixed;
    overflow: auto;
    display: flex;
}

.section {
    height: 100vh;
    display: flex;
    align-items: center;
    white-space: nowrap;
    position: relative;
    padding: 0 50vw;
    overflow: hidden;

    &--intro {
        padding: 0;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

    &--one {
        padding-left: 10vw;
    }

    &--wrap {
        display: block;
        white-space: normal;
        overflow: scroll;
        padding: 0;
        font-size: 64px;
        line-height: 1.45;
        p {
            padding: 5vw 10vw;
            width: 75vw;
            margin: 0 auto;
        }
    }
}

.intro__sub-copy {
    opacity: .5;
}

.title {
    line-height: 100vh;
    font-size: 4em;
    @extend %font-serif;
    text-transform: uppercase;
    // transition: 20s ease-in-out;
    &_letter {
        margin: 0 .8vw;
        display: inline-block;
    }
    &_arrow {
        position: absolute;
        opacity: .2;
        top: 46.5%;
        width: 90vw;
    }
}

.detail {
    @extend %font-serif;
    font-size: 4em;
    position: absolute;
    opacity: .2;
    &-top {
        top: 20%;
    }
    &-bottom {
        bottom: 20%;
    }
}

.traverse-seas {
    padding-left: 4em;
    padding-right: 4em;
}

.test-img {
    height: 100vh;
    mix-blend-mode: screen;
    transform: translateX(70%);
}

.img--malaysia {
    mix-blend-mode: screen;
    max-height: 100vh;
    transform: scale(.5);
}

.lax--word {
    display: inline-block;
}

.word--digestion {
    display: inline-block;
    position: relative;
    z-index: 2;

    &::after {
        content: '';
        position: fixed;
        display: block;
        z-index: 1;
        height: 4em;
        width: 4em;
        border-radius: 100%;
        top: 1em;
        background-color: #477cdf;
        mix-blend-mode: screen;
    }
}

.word--expulsion {
    display: inline-block;
    position: relative;
    z-index: 10;

    .word_object {
        display: block;
        position: absolute;
        z-index: -1;
        height: 4em;
        width: 4em;
        top: 40%;
        right: 20%;
        // left: 50%;
        background-color: #477cdf;
    }
}

.footnote {
    position: relative;
    &__body {
        @extend %font-serif;
        display: inline-block;
        font-size: .24em;
        line-height: 1.45;
        white-space: normal;
        letter-spacing: 0.03em;
        opacity: .8;
        position: absolute;
        width: 32em;
        bottom: -8em;
        left: 0;
    }
}

.colophon-text {
    font-size: 3em;
    margin: .5em;
    @extend %font-serif;
    line-height: 1.45;
    // text-transform: uppercase;
}

sup {
    display: inline-block;
    position: relative;
}

.img {
    position: absolute;
    mix-blend-mode: difference;
    &-s1 {
        &--img_01 {
            top: 15.2%;
            left: 13.2%;
        }
        &--img_02 {
            top: 35.2%;
            left: 17.6%;
        }
        &--img_03 {
            top: 0;
            left: 25%;
        }
        &--img_04 {
            top: 50%;
            margin-top: -238px;
            left: 30.4%;
        }
    }
}