// Base

html,
body {
    background-color: black;
    color: #a6a8b6;
    color: #e9eaf1;
}

.h-scroll__container {
    position: relative;
    width: 100vw;
    z-index: 2;
}

.h-scroll {
    position: fixed;
    overflow: auto;
    display: flex;
}

.container {
    max-width: 90vw;
    margin: 0 auto;
    overflow: auto;
}

.section {
    height: 100vh;
    display: flex;
    align-items: center;
    white-space: nowrap;
    position: relative;
    padding: 0 50vw;
    overflow: hidden;

    &--intro {
        padding: 0;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

    &--one {
        padding-left: 10vw;
    }

    &--wrap {
        display: block;
        white-space: normal;
        overflow: scroll;
        padding: 0;
        font-size: 64px;
        line-height: 1.45;
        p {
            padding: 5vw 10vw;
            width: 75vw;
            margin: 0 auto;
        }
    }
}

.intro__sub-copy {
    opacity: .5;
}

.title {
    line-height: 100vh;
    font-size: 4em;
    font-weight: normal;
    margin: 0;
    @extend %font-serif--italic;
    text-transform: uppercase;
    &_letter {
        margin: 0 .8vw;
        display: inline-block;
    }
    &_arrow {
        position: absolute;
        opacity: .2;
        top: 50%;
        margin-top: -32.5px;
        width: 90vw;
    }
}

.detail {
    @extend %font-serif;
    font-size: 4em;
    position: absolute;
    opacity: .2;
    &-top {
        top: 20%;
    }
    &-bottom {
        bottom: 20%;
    }
}

.traverse-seas {
    padding-left: 4em;
    padding-right: 4em;
}

.test-img {
    height: 100vh;
    mix-blend-mode: screen;
    transform: translateX(70%);
}

.img--malaysia {
    mix-blend-mode: screen;
    max-height: 100vh;
    transform: scale(.5);
}

.lax--word {
    display: inline-block;
}

.word--digestion {
    display: inline-block;
    position: relative;
    z-index: 2;

    &::after {
        content: '';
        position: fixed;
        display: block;
        z-index: 1;
        height: 4em;
        width: 4em;
        border-radius: 100%;
        top: 1em;
        background-color: #477cdf;
        mix-blend-mode: screen;
    }
}

.word--expulsion {
    display: inline-block;
    position: relative;
    z-index: 10;

    .word_object {
        display: block;
        position: absolute;
        z-index: -1;
        height: 4em;
        width: 4em;
        top: 40%;
        right: 20%;
        // left: 50%;
        background-color: #477cdf;
    }
}

.footnote {
    position: relative;
    &__body {
        @extend %font-serif--italic;
        display: inline-block;
        font-size: .24em;
        line-height: 1.45;
        white-space: normal;
        letter-spacing: 0.03em;
        opacity: .8;
        position: absolute;
        width: 32em;
        bottom: -8em;
        left: 0;
        @include for-phone-only {
            font-size: .6em;
            bottom: -12em;
            width: 85vw;
        }
    }
}

sup {
    display: inline-block;
    position: relative;
}

.img {
    position: absolute;
    mix-blend-mode: difference;
    z-index: -10;

    &-s2 {
        &--img_01 {
            top: 15.2%;
            left: 2.2%;
        }
        &--img_02 {
            top: 35.2%;
            left: 7.6%;
        }
        &--img_03 {
            top: 0;
            left: 12.2%;
        }
        &--img_04 {
            top: 50%;
            margin-top: -238px;
            left: 21.4%;
        }
        &--img_05 {
            bottom: 0;
            left: 30.4%;
        }
        &--img_06 {
            top: 10%;
            left: 36.4%;
        }
        &--img_07 {
            top: 0;
            left: 51%;
        }
        &--img_08 {
            top: 10%;
            left: 57%;
        }
        &--img_09 {
            top: 17%;
            left: 68%;
        }
    }
    &-s3 {
        &--img_01 {
            top: 50%;
            margin-top: -288.5px;
            left: -27%;
        }
        &--img_02 {
            top: 10%;
            left: -15%;
        }
        &--img_03 {
            bottom: 0;
            left: -5%;
        }
        &--img_04 {
            top: 50%;
            margin-top: -405px;
            left: -6%;
        }
        &--img_05 {
            top: 0;
            left: -3%;
        }
        &--img_06 {
            top: 10%;
            left: 9%;
        }
        &--img_07 {
            top: 50%;
            margin-top: -405px;
            left: 5%;
        }
        &--img_08 {
            top: 48%;
            left: 23%;
        }
        &--img_09 {
            top: 7%;
            left: 37%;
        }
        &--img_10 {
            top: 36%;
            left: 41%;
        }
        &--img_11 {
            top: -10.1%;
            left: 58.5%;
        }
        &--img_12 {
            top: 50%;
            margin-top: -350px;
            left: 62%;
        }
    }
    &-s4 {
        &--img_01 {
            top: 0;
            left: -84%;
        }
        &--img_02 {
            top: 21%;
            left: -74%;
        }
        &--img_03 {
            top: 0;
            left: -64%;
        }
        &--img_04 {
            top: 12%;
            left: -54%;
        }
        &--img_05 {
            bottom: 0;
            left: -44%;
        }
        &--img_06 {
            top: 0;
            left: -34%;
        }
        &--img_07 {
            top: 8%;
            left: -24%;
        }
    }
    &-s5 {
        &--img_01 {
            top: 50%;
            margin-top: -432px;
            left: -51%;
        }
        &--img_02 {
            top: 0;
            left: -36%;
        }
        &--img_03 {
            top: 50%;
            margin-top: -410.5px;
            left: -20%;
        }
        &--img_04 {
            top: 0;
            left: -10%;
        }
        &--img_05 {
            bottom: 0;
            left: -9%;
        }
        &--img_06 {
            top: 0;
            left: -26%;
        }
        &--img_07 {
            top: 5%;
            left: -4%;
        }
        &--img_08 {
            bottom: 0;
            left: 16%;
        }
        &--img_09 {
            top: 0;
            left: 28%;
        }
        &--img_10 {
            bottom: 0;
            left: 25.6%;
        }
        &--img_11 {
            top: 0;
            left: 28%;        
        }
        &--img_12 {
            top: 50%;
            margin-top: -285px;
            left: 0%;
        }
    }
}

.footer {
    height: 100vh;
}